<app-alert [isHidden]=isAlertHidden message="{{alertMessage}}" type="{{alertType}}"></app-alert>
<div class="flex items-center min-h-screen p-6 bg-gray-100">
    <div class="flex-1 h-full max-w-xl mx-auto overflow-hidden">
        <app-logo></app-logo>
        <div class="flex flex-col overflow-y-auto bg-white rounded-lg shadow">
            <div class="flex items-center justify-center px-12 pt-6 pb-4">
                <div class="w-full">
                    <form (ngSubmit)="onSubmit()">
                        <h1 class="text-center text-4xl">Login</h1>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                Email<span class="text-danger">*</span>
                            </label>
                            <input
                                class="form-control"
                                id="email" type="email" name="email" [(ngModel)]="email" placeholder="someone@gmail.com">
                            <div class="text-danger text-xs italic">{{emailError}}</div>
                        </div>
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Password<span class="text-danger">*</span>
                            </label>
                            <input
                                class="form-control"
                                id="password" type="password" name="password" [(ngModel)]="password"
                                placeholder="******************">
                            <div class="text-danger text-xs italic">{{pwdError}}</div>
                        </div>
                        <a class="inline-block align-baseline py-2 font-bold text-sm text-indigo-500 hover:text-indigo-800"
                            routerLink="/resetpassword">
                            Forgot Password?
                        </a>
                        <button
                            class="btn btn-primary block w-full"
                            type="submit">
                            Sign In
                        </button>

                        <div class="flex justify-center mt-4">
                            <a class="inline-block align-baseline text-center font-bold text-sm text-indigo-500 hover:text-indigo-800"
                                routerLink="/register">
                                Not have an account? Register
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p class="text-center text-gray-500 text-xs mt-2">
            &copy;2022 Glorious Future School. All rights reserved.
        </p>
    </div>
</div>