<div class="mx-2 mt-6 md:mx-5 bg-white p-3 rounded-lg shadow-md overflow-x-auto sm:p-6 xl:p-8">
    <button (click)="onBack()" class="mb-3 text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700">
        <i class="fa-solid fa-circle-arrow-left"></i> Back
    </button>
    <div class="mb-4 flex items-center justify-between">
        <div>
            <h3 class="text-xl font-bold text-gray-900 mb-2">Add Class</h3>
            <span class="text-base font-normal text-gray-500">You can add a new class into school from here.</span>
        </div>
    </div>
    <form (submit)="onSubmit()">
        <div class="flex flex-col">
            <div class="flex flex-row">
                <div class="flex flex-col w-1/2">
                    <label for="name" class="text-gray-700">Name</label>
                    <input type="text" name="name" id="name" [(ngModel)]="name" [min]="0" [required]="true"
                        class="border rounded-md px-2 py-1 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                    <p class="text-red-600">{{nameError}}</p>
                </div>
                <div class="flex flex-col w-1/2 ml-2">
                    <label for="fee" class="text-gray-700">Fee/Student</label>
                    <input type="number" name="fee" [(ngModel)]="fee" id="fee"
                    class="border rounded-md px-2 py-1 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                    <p class="text-red-600">{{feeError}}</p>
                </div>
            </div>
            <div class="flex flex-row mt-2">
                <div class="flex flex-col w-full">
                    <label for="description" class="text-gray-700">Description</label>
                    <textarea name="description" [(ngModel)]="description" id="description" rows="3"
                    class="border rounded-md px-2 py-1 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent"></textarea>
                    <p class="text-red-600">{{descriptionError}}</p>
                </div>
            </div>
            <span class="mt-6 text-base font-normal text-gray-500">Add some subjects with respective teacher into
                Class.</span>
            <div class="flex flex-col md:flex-row mt-2 justify-center w-full gap-4">
                <div class="flex flex-col grow">
                    <label for="subject" class="text-gray-700">Subject</label>
                    <!-- for loop on subjects -->
                    <select name="subject" id="subject" [(ngModel)]="subject"
                        class="border rounded-md px-2 py-1 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                        <option *ngFor="let subject of subjects;" [ngValue]="subject">{{subject}}</option>
                    </select>
                </div>
                <div class="flex flex-col grow">
                    <label for="teacher" class="text-gray-700">Teacher</label>
                    <select name="teacher" id="teacher" [(ngModel)]="teacher"
                        class="border rounded-md px-2 py-1 mt-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent">
                        <option *ngFor="let teacher of teachers;" [ngValue]="teacher.email">{{teacher.name}} ({{teacher.email}})</option>
                    </select>
                </div>
                <div (click)="addSubject()" class="text-center my-auto mb-[0.10rem]">
                    <button type="button" class=" btn-success rounded px-2 py-1">
                        <i class="fa-solid fa-plus"></i> Add
                    </button>
                </div>
            </div>
            <div class="flex flex-col mt-2">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                No
                            </th>
                            <th scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Subject
                            </th>
                            <th scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Teacher
                            </th>
                            <th scope="col"
                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <ng-container *ngIf="addedSubjects.length > 0;">
                            <tr *ngFor="let addedSubject of addedSubjects; let i = index">
                                <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                    {{ i+1 }}
                                </td>
                                <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                    {{ addedSubject.subject }}
                                </td>
                                <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                    {{ addedSubject.teacher }}
                                </td>
                                <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                    <button (click)="removeSubject(addedSubject.subject)" type="button"
                                        class="rounded px-2 py-1 hover:text-gray-800">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="addedSubjects.length === 0;">
                            <tr>
                                <td colspan="6"
                                    class="p-4 text-center whitespace-nowrap text-sm font-normal text-gray-900">
                                    No added subject found
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-full text-center my-2">
            <button type="submit" class="px-4 py-2 rounded-md btn-primary">Add Class</button>
        </div>
    </form>
</div>