<app-alert [isHidden]=isAlertHidden message="{{alertMessage}}" type="{{alertType}}" (close)="handleAlertClose($event)">
</app-alert>
<!-- create table in tailwind css -->
<div class="bg-white mx-4 mt-6 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
    <div class="mb-4 flex items-center justify-between">
        <div>
            <h3 class="text-xl font-bold text-gray-900 mb-2">Latest Applications</h3>
            <span class="text-base font-normal text-gray-500">This is a list of latest applications</span>
        </div>
    </div>
    <div class="flex flex-col mt-8">
        <div class="overflow-x-auto rounded-lg">
            <div class="align-middle inline-block min-w-full">
                <div class="shadow overflow-hidden sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    No
                                </th>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Name
                                </th>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Email
                                </th>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Role
                                </th>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Applied Date
                                </th>
                                <th scope="col"
                                    class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <ng-container *ngIf="applications.length > 0;">
                                <tr *ngFor="let application of applications; let i=index">
                                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                        {{ i + 1 }}
                                    </td>
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        {{ application.name }}
                                    </td>
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        {{ application.email }}
                                    </td>
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        {{ application.role }}
                                    </td>
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        {{ getDate(application.date) }}
                                    </td>
                                    <!-- view and accept button -->
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        <button class="text-gray-400 hover:text-indigo-500 font-bold py-2 px-4 rounded"
                                            (click)="handleViewClick(application.email, application.description)">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                        <button class="text-gray-400 hover:text-green-500 font-bold py-2 px-4 rounded"
                                            (click)="acceptApplication(application.email)">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button class="text-gray-400 hover:text-red-500 font-bold py-2 px-4 rounded"
                                            (click)="regectApplication(application.email)">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="applications.length === 0;">
                                <tr>
                                    <td colspan="5"
                                        class="p-4 text-center whitespace-nowrap text-sm font-normal text-gray-900">
                                        No applications found
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tailwind css model -->
<app-model Title={{modelTitle}} Message={{modelMsg}} isHidden={{isModelHidden}} (onClose)="closeModel()"></app-model>