<app-alert [isHidden]=isAlertHidden message="{{alertMessage}}" type="{{alertType}}" (close)="handleClose($event)">
</app-alert>
<div class="flex items-center min-h-screen p-6 bg-gray-100">
    <div class="flex-1 h-full max-w-xl mx-auto overflow-hidden">
        <app-logo></app-logo>
        <div class="flex flex-col overflow-y-auto bg-white rounded-lg shadow">
            <div class="flex items-center justify-center px-12 pt-6 pb-4">
                <div class="w-full pb-2">
                    <form [hidden]="isEmailSent" (ngSubmit)="onSendEmail()">
                        <h1 class="text-center text-4xl">Forgot Password</h1>
                        <p class="text-center text-gray-600">
                            Enter your email address and we'll send you a link to change your password.
                        </p>
                        <div class="my-4">
                            <input class="form-control" id="email" type="email" name="email" [(ngModel)]="email"
                                placeholder="i.e. someone@gmail.com">
                            <div class="text-danger text-xs italic">{{emailError}}</div>
                        </div>
                        <div class="text-center">
                            <button [disabled]="isSendingEmail? 'true':''" type="submit"
                                class="inline-flex items-center justify-center px-10 py-3 btn btn-primary">
                                <svg class="{{(isSendingEmail? '':'hidden')}} animate-spin mr-2 h-4 w-4 text-white"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor"
                                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                                <div>{{isSendingEmail?"Sending":"Send"}}</div>
                            </button>
                        </div>
                    </form>
                    <div [hidden]="!isEmailSent">
                        <h1 class="text-center text-4xl">Forgot Password</h1>
                        <p class="text-center text-gray-600">We have sent you email, if you have not received email then
                            click resend.</p>
                        <div class="w-full text-center mt-2">
                            <button (click)="resendEmail()" [disabled]="isSendingEmail? 'true':''" type="submit"
                                class="inline-flex items-center justify-center px-10 py-3 btn btn-primary">
                                <svg class="{{(isSendingEmail? '':'hidden')}} animate-spin mr-2 h-4 w-4 text-white"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor"
                                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                                <div>{{isSendingEmail?"Resending":"Resend"}}</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center text-gray-500 mt-2 text-xs">
            &copy;2022 Glorius Future School. All rights reserved.
        </p>
    </div>
</div>